<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구매 내용 수정</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        body {
            background: #f8f8f8;
        }

        #product-form > div {
            margin: 15px 0;
        }

    </style>

</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="container">
    <div class="page-header">
        <h1>상품 수정</h1>
    </div>
    <br/><br/>
    <input id="product_id" type="hidden" th:value="${product.productId}"/>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-success">
            <div class="panel-body">
                <div id="product-form">
                    <div>
                        <label>상품 이름</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="${product?.productName}" placeholder="상품이름" autofocus/>
                    </div>
                    <div>
                        <label>재고</label>
                        <input type="text" class="form-control" id="amount" name="amount" th:value="${product?.productAmount}" placeholder="재고수량"/>
                    </div>
                    <div>
                        <label>가격</label>
                        <input type="text" class="form-control" id="price" name="price" th:value="${product?.productPrice}" placeholder="판매가격"/>
                    </div>
                    <div>
                        <label>원가</label><br>
                        <input type="text" class="form-control pull-left" id="costprice" name="costprice" th:value="${product?.productCostprice}" style="width:80%;" laceholder="원가" readonly/>
                        <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#mod-container" aria-expanded="false" aria-controls="mod-container">원가수정</button>
                    </div><br/>
                    <div class="mod-container collapse" id="mod-container">
                        <div class="pull-left col-md-6">
                            <label>현재 원가</label>
                            <input class="form-control" type="text" id="oldPrice" th:value="${product.productCostprice}" readonly/>
                        </div>
                        <div class="pull-right col-md-6">
                            <label>현재 재고</label>
                            <input class="form-control" type="text" id="oldAmount" th:value="${product.productAmount}" readonly/>
                        </div>
                        <div class="pull-left col-md-6">
                            <label>새 상품가격</label>
                            <input class="form-control" id="newProduct" type="text"/>
                        </div>
                        <div class="pull-right col-md-6">
                            <label>새 상품개수</label>
                            <input class="form-control" id="newAmount" type="text"/>
                        </div>
                        <div class="pull-left col-md-6">
                            <label>환율</label>
                            <input class="form-control" id="trans" type="text"/>
                        </div>
                        <div class="pull-right col-md-6">
                            <label>배송비</label>
                            <input class="form-control" id="priceDeliver" type="text"/>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="pull-left">
                        <a href="/product/productList" class="btn btn-default">목록으로</a>
                    </div>
                    <div class="pull-right">
                        <button class="form-control btn btn-success" id="update">수정 완료</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/footer::footer"></div>

<script>

    function calcCostPrice(newProduct, newAmount, trans, priceDeliver) {

        var oldProduct = $("#oldPrice").val();
        var oldAmount = $("#oldAmount").val();

        var oldSum = Number(oldProduct) * Number(oldAmount);
        var newSum = ((Number(newProduct) * Number(newAmount)) + Number(priceDeliver)) * Number(trans);

        return Math.ceil((Number(oldSum) + Number(newSum)) / (Number(oldAmount) + Number(newAmount)));
    }

    $("#newProduct, #newAmount, #trans, #priceDeliver").on("propertychange change keyup paste input", function() {
        var newProduct = $("#newProduct").val();
        var newAmount = $("#newAmount").val();
        var trans = $("#trans").val();
        var priceDeliver = $("#priceDeliver").val();

        if(!newProduct || !newAmount || !trans || !priceDeliver) {
            return;
        }

        var newVal = calcCostPrice(newProduct, newAmount, trans, priceDeliver);

        $("#costprice").val(newVal);

    });
</script>

<script>
    $("#update").click(function() {
        var jsonData = JSON.stringify({
            name: $("#name").val(),
            amount: $("#amount").val(),
            price: $("#price").val(),
            costprice: $("#costprice").val()
        });
        $.ajax({
            url: "http://ec2-15-165-154-135.ap-northeast-2.compute.amazonaws.com:8080/product/productMod/" + $("#product_id").val(),
            type: "PUT",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function() {
                alert("수정 성공!");
                location.href="/product/productList";
            },
            error: function() {
                alert("수정 실패!");
            }
        });
    });
</script>

</body>
</html>