body {padding-top: 47px; padding-bottom: 67px}
.conHeight {min-height: 700px;}
@media (max-width: 991px) {  body{padding-top: 93px;}  .conHeight{min-height: 1623px;} }
.menuList {color: black !important;}
thead { background-color: #FAFAFA}
.table-bordered {border-top: 1px solid black !important; border-right: none !important; border-left: none  !important;}
.bl-none { border-left: none !important;}
.br-none { border-right: none !important;}
.deleteBtn {padding: 0;width:20px;display: block;margin-left: auto; margin-right: auto }
.table-bordered thead tr th {text-align: center;}
.table-bordered tbody tr {height: 47px;}
.table-bordered tbody tr td {padding: 12px 5px;}
.moreList {position:absolute;top:18px;right: 18px;}
.moreList a i {color: black;}
footer{position:fixed;bottom:0;width:100%;height:50px;background-color:#2BBBAD;padding:20px 0;text-align:center;box-sizing:border-box;color:#ffffff;}