<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;700&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>
        .bdgreen {
            border: 2px solid darkseagreen;
            border-radius: 20px;
        }

        .mg-bl {
            margin-left: 8%;
            margin-bottom: 40px;
        }

        .mg-br {
            margin-right: 8%;
            margin-bottom: 40px;
        }

        .memo {
            width: 100%;
            height:160px;
        }

        img {
            max-width: 100%;
            margin: 0;
        }

        #link-title {
            margin-top:31px;
            font-size: 40px;
            font-family: 'Roboto', sans-serif;
            color:forestgreen;
        }

        .pd-0 {
            padding: 0;
        }

        .pb-69 {padding-bottom: 67px;}

        .link-pd {
            padding: 15px 0;
        }

        body {
            padding-bottom: 0;
        }

        footer {
            position: inherit;
        }

    </style>

</head>
<body>
    <div th:replace="layout/header::header"></div>
    <div class="container pb-69">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 link-pd">
                <a href="https://smartstore.naver.com/hulululu">
                    <div class="col-md-12">
                        <div class="col-md-2 pd-0">
                            <img class="pull-left" src="/images/hululuuuu.jpeg" width="120" height="120" alt="후루루" title="후루루"/>
                        </div>
                        <div class="col-md-8 link-title text-center" id="link-title"><b>Hululuuuu</b></div>
                    </div>
                </a>
            </div>
        <div class="bdgreen col-xs-10 col-md-5 text-center pull-left mg-bl">
            <h3 class="">최근 수익 상황</h3><br/>
            <div class="moreList">
                <a href="/sell/sellList">
                    <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="">
                <span><h4>최근 한달 수익 : <a th:text="${oneMonthProfit} + '원'"></a></h4></span>
                <span><h4>현재 치약 원가 : <a th:text="${toothPaste?.productCostprice} + '원'"></a></h4></span>
                <span><h4>치약 재고 : <a th:text="${toothPaste?.productAmount} + '개'"></a></h4></span>
            </div><br/>
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-1">판매한 물건</th>
                        <th class="col-md-1">수익</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sell : ${sellTop}">
                        <td th:text="${sell.sellProduct}"></td>
                        <td th:text="${sell.sellProfit} + '원'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bdgreen col-xs-10 col-md-5 pull-right mg-br">
            <h3 class="text-center">잉사장님의 지갑 속 상황</h3><br/>
            <div class="moreList">
                <a href="#">
                    <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <span class="text-center"><h4>현재 잔액 <a th:text="${nowWallet.walletMoney} + '원'"></a></h4></span><br/>
            <span class="text-center"><h4>최근 거래일 : <a th:text="${nowWallet.walletModdate}"></a></h4></span>
            <br/><br/>
            <span><h4> 최근 지갑 거래내역 </h4></span>
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-1">잔액</th>
                        <th class="col-md-1">잔액 변동</th>
                        <th class="col-md-1">구매한 상품</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="wallet : ${walletTop5}">
                        <td th:text="${wallet.walletMoney + '원'}"></td>
                        <td th:text="${wallet.walletMod}"></td>
                        <td th:text="${wallet.walletRecord}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bdgreen col-xs-10 col-md-5 pull-left mg-bl">
            <h3 class="text-center">메모장</h3>
            <div class="moreList">
                <a href="/memo/memoList">
                    <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <br/>
            <input class="form-control" id="link" name="link" placeholder="구매하고 싶은 상품의 사이트 링크를 적어주세요"><br/>
            <textarea class="memo" id="content" name="content" placeholder="구매하고싶은 상품의 내용을 적어주세요."></textarea>
            <div class="pull-right" style="width: 100px; margin:10px 0;">
                <a class="btn btn-success btn-block" id="getMemo">메모 저장</a>
            </div>
        </div>
        <div class="bdgreen col-xs-10 col-md-5 pull-right mg-br">
            <h3 class="text-center">최근 구매 목록</h3>
            <div class="moreList">
                <a href="/yiying/buyList">
                    <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                </a>
            </div><br/>
            <div>
                <span class="text-center"><h4>최근 한달 지출 : <a th:text="${oneMonthSpendMoney} + '원'"></a></h4></span>
            </div><br/>
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-1">구매한 물품</th>
                        <th class="col-md-1">가격</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="buy : ${buyTop}">
                        <td th:text="${buy.yiyingName}"></td>
                        <td th:text="${buy.yiyingPrice} + '원'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
        </div>
        </div>

    </div>
    <div th:replace="layout/footer::footer"></div>

<script>
    $("#getMemo").click(function() {
        var jsonData = JSON.stringify({
            content: $("#content").val(),
            link: $("#link").val()
        });
        $.ajax({
            url: "www.hululuuuu.com/memo/memoList",
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function() {
                alert("생성 성공! 메모 목록으로 이동합니다.");
                location.href="/memo/memoList";
            },
            error: function() {
                alert("수정 실패!");
            }
        });
    });

</script>
</body>
</html>