<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구매 상세 내용</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>

        .table-container {
            padding: 50px;
            min-height: 500px;
            background-color: white;
        }

        body {
            background-color: #f0f0f0;
        }

        .table-bordered th {
            padding: 14px 30px !important;
            text-align: center;
            background-color: #eff1f8;
        }

        .table-bordered td {
            padding: 14px 30px !important;
        }

    </style>

</head>
<body>
<div th:replace="layout/header::header"></div>
    <div class="container">
        <div class="page-header">
            <h1>구매 상세 내용</h1>
        </div>
        <div class="table-container">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>구매 고유 ID</th>
                    <td th:text="${buy.yiyingId}" id="id"></td>
                </tr>
                <tr>
                    <th>구매 상품</th>
                    <td th:text="${buy.yiyingName}" id="name"></td>
                </tr>
                <tr>
                    <th>구매 수량</th>
                    <td th:text="${buy.yiyingAmount}" id="amount"></td>
                </tr>
                <tr>
                    <th>구매 가격</th>
                    <td th:text="${buy.yiyingPrice}" id="price"></td>
                </tr>
                <tr>
                    <th>구매 상세 내용</th>
                    <td th:text="${buy.yiyingContent}" id="content"></td>
                </tr>
                <tr>
                    <th>구매 날짜</th>
                    <td th:text="${buy.yiyingBuydate}" id="buydate"></td>
                </tr>
            </tbody>
        </table>
        <div class="pull-left">
            <a href="/yiying/buyList" class="btn btn-default">목록으로</a>
        </div>
        <div class="pull-right">
            <button type="button" class="form-control btn btn-primary" id="get">수정하기</button>
        </div>

        </div>

    </div>
<div th:replace="layout/footer::footer"></div>

<script>

    $("#get").click(function() {
        location.href="/yiying/buyMod?id="+$("#id").text();
    });
</script>
</body>
</html>