<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>잉사장님의 구매 목록</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .searchBuy { position: relative; top:13px;}
    </style>

</head>
<body>
<div th:replace="layout/header::header"></div>
    <div class="container conHeight">
        <div class="page-header">
            <h1>구매 목록</h1>
        </div>
        <div class="pull-left searchBuy">
            <input type="date" class="" id="start" name="start"/> ~
            <input type="date" class="" id="end" name="end"/>
            <button id="searchBuy" type="button" class="btn btn-default">검색</button>
        </div>
        <div class="pull-right" style="margin:10px 0;">
            <a href="/yiying/buyForm" class="btn btn-success btn-block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>구매내역 등록</a>
        </div>
        <br/><br/><br/>

        <div id="mainHide">
            <table class="table table-bordered table-hover text-center">
                <thead>
                <tr>
                    <th class="col-md-1 bl-none">#</th>
                    <th class="col-md-2">구매한 물품</th>
                    <th class="col-md-2">수량</th>
                    <th class="col-md-2">가격</th>
                    <th class="col-md-2">구매 날짜</th>
                    <th class="col-md-1 br-none">삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:each="buy : ${buyList}">
                    <td class="bl-none" th:text="${buy.yiyingId}"></td>
                    <td><a th:href="'/yiying/buyDetail?id='+${buy.yiyingId}" th:text="${buy.yiyingName}"></a></td>
                    <td th:text="${buy.yiyingAmount}"></td>
                    <td th:text="${buy.yiyingPrice}"></td>
                    <td th:text="${buy.yiyingBuydate}"></td>
                    <td class="br-none" style="padding: 12px 12px;">
                        <button type="button" class="deleteBtn btn btn-default" aria-label="deleteBtn">
                            <input class="buy_id" th:value="${buy.yiyingId}" type="hidden"/>
                            <span class="fa fa-remove"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation" style="text-align: center;">
            <ul class="pagination" th:with="startNumber=${T(Math).floor(buyList.number/10)}*10+1,
                                    endNumber=(${buyList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${buyList.totalPages}">
                <li><a href="/yiying/buyList?page=1">&laquo;</a></li>
                <li th:style="${buyList.first} ? 'display:none'">
                    <a th:href="@{/yiying/buyList(page=${buyList.number})}">&lsaquo;</a>
                </li>
                <li th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                        th:class="(${page} == ${buyList.number}+1) ? 'active'">
                    <a th:href="@{/yiying/buyList(page=${page})}" th:text="${page}">
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li th:style="${buyList.last} ? 'display:none'">
                    <a th:href="@{/yiying/buyList(page=${buyList.number}+2)}">&rsaquo;</a>
                </li>
                <li>
                    <a th:href="@{/yiying/buyList(page=${buyList.totalPages})}">&raquo;</a>
                </li>

            </ul>
        </nav>

    </div>
<div th:replace="layout/footer::footer"></div>

<script>
    $(".deleteBtn").click(function () {
        if (confirm("삭제하시겠습니까?")) {
            $.ajax({
                url: "http://localhost:8080/yiying/buyList/" + $(this).children(".buy_id").val(),
                type: "DELETE",
                success: function () {
                    alert("삭제 성공!");
                    location.href = "/yiying/buyList";
                },
                error: function () {
                    alert($("#buy_id").val());
                    alert("삭제 실패!");
                }
            });
        }
    });

    $("#searchBuy").click(function () {
        $.ajax({
            url: "http://ec2-15-165-154-135.ap-northeast-2.compute.amazonaws.com:8080/yiying/buySearchList?start=" + $("#start").val() + "&end=" + $("#end").val(),
            type: "GET",
            success: function () {
                location.href = "/yiying/buySearchList?start=" + $("#start").val() + "&end=" + $("#end").val();
            },
            error: function () {
                alert("검색 실패! 관리자에게 문의해주세요!");
            }
        });
    });

</script>
</body>
</html>