<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매 내역 수정</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>
        body {
            background: #f8f8f8;
        }

        #sell-form > div {
            margin: 15px 0;
        }

    </style>

</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="container">
    <div class="page-header">
        <h1>판매 내역 수정</h1>
    </div>
    <br/><br/>
    <input id="sell_id" type="hidden" th:value="${sell.sellId}"/>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-success">
            <div class="panel-body">
                    <div>
                        <label>구매자 아이디</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="${sell?.sellName}" placeholder="구매자" autofocus/>
                    </div>
                    <div>
                        <label>판매한 상품</label>
                        <input type="text" class="form-control" id="product" name="product" th:value="${sell?.sellProduct}" placeholder="상품명"/>
                    </div>
                    <div>
                        <label>판매 수량</label>
                        <input type="text" class="form-control" id="amount" name="amount" th:value="${sell?.sellAmount}" placeholder="판매수량"/>
                    </div>
                    <div>
                        <label>판매 금액</label>
                        <input type="text" class="form-control" id="price" name="price" th:value="${sell?.sellPrice}" placeholder="판매 금액"/>
                    </div>
                    <div>
                        <label>결제수단</label>
                        <select class="form-control" id="mofSelect" name="mofSelect">
                            <option value="3.74">신용카드</option>
                            <option value="1.65">계좌이체</option>
                            <option value="1">무통장입금</option>
                            <option value="3.85">휴대폰결제</option>
                            <option value="3.74">기타</option>
                        </select>
                        <span id="commission"></span>
                        <input type="hidden" id="mof" name="mof" th:value="${sell.sellMof}"/>
                    </div>
                    <div>
                        <label>수익</label>
                        <input type="text" class="form-control" id="profit" name="profit" th:value="${sell.sellProfit}" placeholder="수익" readonly/>
                    </div>
                    <div>
                        <label>판매 날짜</label>
                        <input type="date" class="form-control" id="date" name="date" th:value="${sell.sellDate}"/>
                    </div>
                    <br/><br/>
                    <div class="pull-left">
                        <a href="/sell/sellList" class="btn btn-default">목록으로</a>
                    </div>
                    <div class="pull-right">
                        <button class="form-control btn btn-primary" id="update">수정 완료</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/footer::footer"></div>

<script>

    function calcProfit(commission, price) {

        var commission = Number(commission);
        var price = Number(price);
        var deliverPrice = Number(3500);
        var naverComm = Math.round((price / 100) * 2);

        var mofComm = Math.round(((price + deliverPrice) / 100) * commission);

        return price - (naverComm + mofComm);

    }

    $("#mofSelect").change(function() {

        var commission = $(this).val();

        var price = $("#price").val();

        $("#commission").text(commission + "%");

        $("#mof").val($(this).find(":selected").text());

        var newVal = calcProfit(commission, price);

        $("#profit").val(newVal);

    });

    $("#price").on("propertychange change keyup paste input", function() {

        var commission = $("#mofSelect :selected").val();

        var price = $(this).val();

        if(!$("#mof").val()) {
            return;
        }

        var newVal = calcProfit(commission, price);

        $("#profit").val(newVal);

    });

</script>

<script>
    $("#update").click(function() {
        var jsonData = JSON.stringify({
            name: $("#name").val(),
            product: $("#product").val(),
            amount: $("#amount").val(),
            price: $("#price").val(),
            mof: $("#mof").val(),
            profit: $("#profit").val(),
            date: $("#date").val()
        });
        $.ajax({
            url: "http://http://ec2-15-165-154-135.ap-northeast-2.compute.amazonaws.com:8080/sell/sellList/" + $("#sell_id").val(),
            type: "PUT",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function() {
                alert("수정 성공!");
                location.href="/sell/sellList";
            },
            error: function() {
                alert("수정 실패!");
            }
        });
    });
</script>

</body>
</html>