<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>잉사장님의 판매 목록</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>

        body {
            padding-bottom: 0;
        }

        footer {
            position: inherit;
        }

        .pb-69 {padding-bottom: 67px;}

        .searchSell { position: relative; top:13px;}

    </style>

</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="container pb-69 conHeight">
    <div class="page-header">
        <h1>판매 목록</h1>
    </div>
    <div class="pull-left searchSell">
        <input type="date" class="" id="start" name="start"/> ~
        <input type="date" class="" id="end" name="end"/>
        <button id="searchSell" type="button" class="btn btn-default">검색</button>
    </div>
    <div class="pull-right" style="margin:10px 0;">
        <a href="/sell/sellForm" class="btn btn-success btn-block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>판매내역 등록</a>
    </div>
    <br/><br/><br/>

    <div id="mainHide">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-md-1 bl-none">#</th>
                <th class="col-md-1">구매자</th>
                <th class="col-md-2">판매 상품</th>
                <th class="col-md-2">판매 금액</th>
                <th class="col-md-2">실제 수익</th>
                <th class="col-md-1">수량</th>
                <th class="col-md-1">결제 수단</th>
                <th class="col-md-2">판매 날짜</th>
                <th class="col-md-1 br-none">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="sell : ${sellList}">
                <td class="bl-none" th:text="${sell.sellId}"></td>
                <td><a th:href="'/sell/sellMod?id='+${sell.sellId}" th:text="${sell.sellName}"></a></td>
                <td th:text="${sell.sellProduct}"></td>
                <td th:text="${sell.sellPrice}"></td>
                <td th:text="${sell.sellProfit}"></td>
                <td th:text="${sell.sellAmount}"></td>
                <td th:text="${sell.sellMof}"></td>
                <td th:text="${sell.sellDate}"></td>
                <td class="br-none" style="padding: 12px 12px;">
                    <button type="button" class="deleteBtn btn btn-default" aria-label="deleteBtn">
                        <input class="sell_id" th:value="${sell.sellId}" type="hidden"/>
                        <span class="fa fa-remove"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation" style="text-align: center;">
        <ul class="pagination" th:with="startNumber=${T(Math).floor(sellList.number/10)}*10+1,
                                    endNumber=(${sellList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${sellList.totalPages}">
            <li><a href="/sell/sellList?page=1">&laquo;</a></li>
            <li th:style="${sellList.first} ? 'display:none'">
                <a th:href="@{/sell/sellList(page=${sellList.number})}">&lsaquo;</a>
            </li>
            <li th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                th:class="(${page} == ${sellList.number}+1) ? 'active'">
                <a th:href="@{/sell/sellList(page=${page})}" th:text="${page}">
                    <span class="sr-only"></span>
                </a>
            </li>
            <li th:style="${sellList.last} ? 'display:none'">
                <a th:href="@{/sell/sellList(page=${sellList.number}+2)}">&rsaquo;</a>
            </li>
            <li>
                <a th:href="@{/sell/sellList(page=${sellList.totalPages})}">&raquo;</a>
            </li>

        </ul>
    </nav>

</div>
<div th:replace="layout/footer::footer"></div>

<script>
    $(".deleteBtn").click(function () {
        if (confirm("삭제하시겠습니까?")) {
            $.ajax({
                url: "http://www.hululuuuu.com/sell/sellList/" + $(this).children(".sell_id").val(),
                type: "DELETE",
                success: function () {
                    alert("삭제 성공!");
                    location.href = "/sell/sellList";
                },
                error: function () {
                    alert($("#sell_id").val());
                    alert("삭제 실패! 관리자에게 문의해주세요!");
                }
            });
        }
    });

    $("#searchSell").click(function () {
        $.ajax({
            url: "http://www.hululuuuu.com/sell/sellSearchList?start=" + $("#start").val() + "&end=" + $("#end").val(),
            type: "GET",
            success: function () {
                location.href = "/sell/sellSearchList?start=" + $("#start").val() + "&end=" + $("#end").val();
            },
            error: function () {
                alert("검색 실패! 관리자에게 문의해주세요!");
            }
        });
    });



</script>
</body>
</html>