<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메모 목록</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>

        .memoList-container {
            min-height: 500px;
        }

        .memo-container {
            border: 2px solid #f0ad4e;
            border-radius: 20px;
            margin-top:30px
        }

    </style>

</head>
<body>
<div th:replace="layout/header::header"></div>
    <div class="container">
        <div class="page-header">
            <h1>메모 목록</h1>
        </div>
        <div class="memoList-container">
            <div class="memo-container col-md-offset-3 col-md-6" th:each="memoList : ${memoList}">
                <br/>
                <h4 th:text="${memoList.memoId} + '번 메모'"></h4><br/>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>링크</th>
                    </tr>
                    <tr>
                        <td><a th:href="${memoList.memoLink}" th:text="${memoList.memoLink}"></a></td>
                    </tr>
                    <tr>
                        <th>상세내용</th>
                    </tr>
                    <tr>
                        <td th:text="${memoList.memoContent}" id="content"></td>
                    </tr>
                    <tr>
                        <th>작성 날짜</th>
                    </tr>
                    <tr>
                        <td th:text="${memoList.memoCreatedate}" id="date"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>