<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메모 목록</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>

        .memoList-container {
            min-height: 500px;
        }

        .memo-container {
            border: 2px solid #f0ad4e;
            border-radius: 20px;
            margin-top:30px;
            padding: 10px 40px;

        }

        body {
            padding-bottom: 0;
        }

        footer {
            position: inherit;
        }

        .pb-69 {padding-bottom: 67px;}

        .deleteBtn {
            position: absolute;
            top: 30px;
            right: 30px;
        }

        .mr-25per {
            margin-right: 25%;
        }

    </style>

</head>
<body>
<div th:replace="layout/header::header"></div>
    <div class="container pb-69 conHeight">
        <div class="page-header">
            <h1>메모 목록</h1>
        </div>
        <div class="memoList-container">
            <div class="memo-container col-md-offset-3 col-md-6 mr-25per" th:each="memoList : ${memoList}">
                <br/>
                <h4 th:text="${memoList.memoId} + '번 메모'"></h4><br/>
                <div>
                    <button type="button" class="deleteBtn btn btn-default" aria-label="deleteBtn">
                        <input class="memo_id" th:value="${memoList.memoId}" type="hidden"/>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <table class="table table-hover">
                    <tbody>
                    <tr style="background-color: #FAFAFA">
                        <th>링크</th>
                    </tr>
                    <tr>
                        <td><a th:href="${memoList.memoLink}" th:text="${memoList.memoLink}"></a></td>
                    </tr>
                    <tr style="background-color: #FAFAFA">
                        <th>상세내용</th>
                    </tr>
                    <tr>
                        <td th:text="${memoList.memoContent}" id="content"></td>
                    </tr>
                    <tr style="background-color: #FAFAFA">
                        <th>작성 날짜</th>
                    </tr>
                    <tr>
                        <td th:text="${memoList.memoCreatedate}" id="date"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <nav aria-label="Page navigation" style="text-align: center;">
            <ul class="pagination" th:with="startNumber=${T(Math).floor(memoList.number/10)}*10+1,
                                    endNumber=(${memoList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${memoList.totalPages}">
                <li><a href="/memo/memoList?page=1">&laquo;</a></li>
                <li th:style="${memoList.first} ? 'display:none'">
                    <a th:href="@{/memo/memoList(page=${memoList.number})}">&lsaquo;</a>
                </li>
                <li th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                    th:class="(${page} == ${memoList.number}+1) ? 'active'">
                    <a th:href="@{/memo/memoList(page=${page})}" th:text="${page}">
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li th:style="${memoList.last} ? 'display:none'">
                    <a th:href="@{/memo/memoList(page=${memoList.number}+2)}">&rsaquo;</a>
                </li>
                <li>
                    <a th:href="@{/memo/memoList(page=${memoList.totalPages})}">&raquo;</a>
                </li>

            </ul>
        </nav>

    </div>
<div th:replace="layout/footer::footer"></div>

<script>
    $(".deleteBtn").click(function () {
        if (confirm("삭제하시겠습니까?")) {
            $.ajax({
                url: "www.hululuuuu.com/memo/memoList/" + $(this).children(".memo_id").val(),
                type: "DELETE",
                success: function () {
                    alert("삭제 성공!");
                    location.href = "/memo/memoList";
                },
                error: function () {
                    alert($(this).children(".memo_id").val());
                    alert("삭제 실패!");
                }
            });
        }
    });

</script>
</body>
</html>