<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로필</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/pf_base.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body>
<div th:replace="layout/mainHeader::mainHeader"></div>

    <div class="container">
        <div class="page-header">
            <h2>프로가 되기 위해 끊임없이 노력중인 개발자 입니다.</h2>
        </div>

        <h3>박민영</h3><br/>
        <h4>Minyoung Park</h4><br/>
        <p>010-7167-8343</p>
        <p>backchida@gmail.com</p>
        <p><a href="https://github.com/Gomding">Git Hub</a></p>

        <div>간략한 소개
            <div>
                프로그래밍에 관심이 생겨 퇴근 후 Python 언어를 공부하다 이거다 싶어서 주방에서 칼을 내려두고 키보드를 잡았습니다.<br/>
                독학으로 Java 언어를 공부하고 국비교육을 받아 JSP Oracle MySQL 등을 익히며 역량을 키웠습니다. 교육을 수료한 뒤<br/>

            </div>
        </div>


    </div>

</body>
</html>